body {
    margin: 0;
    display: flex;
}

#totk-map {
    width: 80vw;
    height: 100vh;
    background: #000000;
}

#sidebar {
    width: 100%;
    max-width: 20vw;
    height: 100%;
    max-height: calc(100vh - 4em);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2em;
    background: #2e2e2e;
    color: #efefef;
}

#itemFilters > label {
    display: block;
}

#filter-search {
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-bottom: 2px solid #3e3e3e;
}

#itemFilterSearch {
    width: 100%;
    font-size: 18px;
    padding: .2em;
    margin-bottom: .5em;
}
