body {
    margin: 0;
    display: flex;
}

#totk-map {
    width: 80vw;
    height: 100vh;
    background: #000000;
}

#sidebar {
    width: 100%;
    max-width: 20vw;
    height: 100%;
    max-height: calc(100vh - 4em);
    padding: 2em;
    background: #2e2e2e;
    color: #efefef;
}

#itemFilters {
    overflow: scroll;
    max-height: 75vh;
}

#itemFilters > div {
    width: 300%
}

#itemFilters > div > label {
    display: block;
    margin-bottom: 2px;
}

#filter-search {
    padding: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border-bottom: 2px solid #3e3e3e;
}

#filter-search input[type=search] {
    width: 100%;
    font-size: 18px;
    padding: .2em;
    margin-bottom: .5em;
}

.totk-marker > h2 {
    font-size: 16px;
    margin-bottom: 0.5em;
}

.totk-marker > h2 .smaller-name {
    display: block;
}

.totk-marker-meta > span {
    display: block;
}

.totk-marker-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
    gap: .5em;
}

.totk-marker-icons > img {
    width: 64px;
    height: auto;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}

.big-marker {
    background: #ff000080;
    border-radius: 50%;
    color: white;
    padding: 3px;
    text-align: center;
}

.smaller-name {
    font-size: 12px;
    color: #afafaf;
}